body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Merriweather', serif;
    color: white;
    background: #343434;
    overflow: hidden;
}
.col-md-4:first-child{
    margin-left: -5%;
    margin-right: 5%;
}
.col-md-4:last-child{
    margin-left: 5%;
    margin-right: -5%;
}
.title{
    text-transform: capitalize;
    font-family: 'Alkatra', sans-serif;
}

.card{
    border-radius: 50px;
    background-color: #343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    padding: 2%;
    text-align: center;
    margin-top: 4%;
    width: 100%;
}
.card h2{
    padding: 3%;
}
.card h4{
    font-size: 3.5rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 1%;
}

.card img{
    width: 20%;
    margin: auto;
}

.card h6{
    text-transform: capitalize;
}

.refresh{
    display: block;
    width: 100px;
    margin: 5% auto;
    background: transparent;
    border: 0;
    color: #9c9c9d;
    font-size: 200%;
    height: 100px;
    border-radius: 50%;
    box-shadow: 10px 4px 10px #252525, 5px 5px 18px #4a4a4a;
}

.refresh:hover{
    box-shadow: inset 10px 4px 10px #252525, inset 5px 5px 18px #4a4a4a;
}
